.container {
  max-width: 800px;
  display: flex;
}

#buttonStyle {
  margin-top: 0.3rem;
  padding: 0.4rem 2rem;
  border-radius: 25px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  max-width: 500px;
}

.modal-body {
  padding: 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.close {
  font-size: 35px;
  font-weight: 700;
}
